.headerContaine {
  padding: 25px 150px;
  background-color: #fae6e4;
}

.headerContaine ul {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContaine a {
  font-size: 35px;
  color: black;
  font-weight: 600;
}

.headerContaine a:hover,
.headerContaine a:focus {
  color: #e74c3c;
}

.openModalButton {
  height: 50px;
  width: 50px;
  border: none;
  background: transparent;
  font-size: 49px;
  color: black;
}

.openModalButton:hover,
.openModalButton:focus {
  color: #e74c3c;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 15px;
  background: #e74c3c;
  height: 30px;
  width: 80px;
  color: #fff;
}

.closeButton:hover,
.closeButton:focus {
  background: #c0392b;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}
